<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Direccion" value="D:\ROCKOLOCO" />
    <add key="DireccionImagenes" value="D:\ROCKOLOCO\Images" />
    <add key="DireccionFotosArtistas" value="D:\ROCKOLOCO\Images\Artists" />
    <add key="Extensiones" value="*.mp4;*.mp3" />
    <add key="ExtensionesImages" value="*.jpeg;*.jpg;*.png;*.mp4" />
    <add key="ListaCanciones" value="D:\ROCKOLOCO\0.ListaCanciones.xml" />
    <add key="ListEspera" value="D:\ROCKOLOCO\0.ListaEspera.xml" />
    <add key="ResetTop" value="false" />
    <add key="CancionesConGuion" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="StartMaximized" value="false" />
    <add key="ClickEffect" value="false" />
    <add key="Preview" value="true" />
    <add key="ActionCoin" value="ClickDerecho" />
    <add key="Template" value="sSkin18" />
    <add key="ComboSkin" value="true" />
    <add key="ConvertToUpper" value="true" />
    <add key="ReadSongsEveryEvent" value="true" />
    <add key="ShowArtistPicture" value="true" />
    <add key="ShowBackImages" value="true" />
    <add key="MinVolumen" value="3" />
    <add key="MaxVolumen" value="10" />
    <add key="DefaultVolumen" value="10" />
    <add key="ShowVolumenControl" value="false" />
    <!--15 defecto
    13 navideño
    17 rock
    21 verde negruzco
    22 negro completo 
    25 plomo pintudo
    26 plomo oscuro-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>